<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nacs-2024-vs-csharp-prep.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8b23e8be-6c6d-41f5-9427-801f7294d092/resourceGroups/nacs2024prep/providers/Microsoft.Web/sites/nacs-2024-vs-csharp-prep</ResourceId>
    <UserName>$nacs-2024-vs-csharp-prep</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://nacs-2024-vs-csharp-prep.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>